
.btn_c {
    font-family: 'Noto Sans KR', sans-serif;
  }

.btn_d {
    font-family: 'Jost', sans-serif;
}

.img-fluid {
    height: 700px;
    width: 1200px;
}

body {
    background-color: black;
} 

.text-success {
  font-family: 'Jost', sans-serif;
}

b {
    color:#FA6EE3;
}

.hoverbox {
    
    transition: all 0.2s linear
  }

.hoverbox:hover {
    box-shadow: 0px 0px 30px rgba(102, 101, 101, 0.7), 0px 0px 30px rgba(167, 155, 155, 0.4);
    transform: scale(1.1);
  }

.banner_text {
  font-family: 'Noto Sans', sans-serif;
}

.btn-hover {
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}

.btn-hover.color-8 {
    background-image: linear-gradient(to right, #29323c, #485563, #2b5876, #4e4376);
    box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
}
