{% extends 'base.html' %}
{% block content %}

{% load django_bootstrap5 %}

<h1 class="text-center mt-5 mb-3 btn_d" style="color: white; font-family: 'Jost', sans-serif; font-size:70px;">MY PAGE</h1>
<div class="rounded-5 my-3 d-flex justify-content-between" style="width: 80%; scale: 80%; margin:auto; border-style:solid; border-color:#FA6EE3; border-width:5px;">
        <div>
          {% if profile.image %} <!--view context에서 넘겨준 profile은 여러개가 아닌 하나이기 때문에 프로필의 이미지가 있다면? 으로 정의할 수 있음 -->
                      <div class="p-3" >
                      <img src="{{ profile.image.url }}" alt="" class="rounded-4"style="width: 380px; height: 300px;">
                      </div>
          {% else %} <!--없다면? 아래 더미이미지-->
                      <div class="p-3">
                      <img src="https://dummyimage.com/1200x960/000000/c4c4c4" class="rounded-4" style="width: 380px; height: 300px;">
                      </div>
          {% endif %}
          <div class="d-flex ms-4 pb-3">
              <form action="" style="color:white;"method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {% bootstrap_form profile_update_form %}
                <button type="submit" class="btn detail_btn">수정하기</button>
              </form>
          </div> 
        </div>
        <div class="fs-1 px-5 my-4 d-flex flex-column justify-content-center" style="font-family: 'Black Han Sans', sans-serif; color:white;" >
          <div class="my-1">{{ user.username }}</div>
          <div class="my-1">{{ user.email }}</div>
          <div class="my-1">
            {% if user.is_staff == 1 %}
              seller
            {% else %}
              buyer
            {% endif %}
          </div>
        </div>
        <div class="px-2">
        </div>
</div>

      {% comment %} <a href="{% url 'accounts:profile_update' %}" class='btn btn-outline-success ms-5'>프로필 수정</a> {% endcomment %}

<h1 class="text-center my-5 btn_d" style="color: white; font-family: 'Jost', sans-serif; font-size:70px;">I MADE <span style="color: #FA6EE3">{{ products.count }}</span> PRDODUCTS</h1>
<div class="row row-cols-3 g-4">
      {% for product in products %}
        <div class="col">
          <div>
            <a href="{% url 'products:detail' product.pk %}">
              <img src="{{ product.image.url }}" alt="123" style="width: 400px; height: 300px; border-radius: 50px">
            </a>
          </div>
        </div>
      {% endfor %}
    </div>
{% endblock content %}


  
        
      