<!DOCTYPE html>
{% load django_bootstrap5 %}
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="crossorigin">
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Jost:wght@700&family=Noto+Sans+KR&family=Noto+Sans:wght@700;800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css">
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light p-0" style="background-color:#FA6EE3; height: 75px;">
      <div class="container-fluid">
        <a class="btn_d navbar-brand fs-1" href="{% url 'products:index' %}">ZUGZOG</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNavAltMarkup">
          <div class="navbar-nav d-flex align-items-center">

            {% if request.user.is_authenticated %}
              <!--request.user는 뒤에나오는 것을 요청하는 사람-->
              {% if request.user.is_seller %}
                <div class="boot_button d-flex align-items-center ">
                  <a href="{% url 'products:create' %}" class="nav-link btn nav_btn me-1">PRODUCT CREATE</a>
                {% else %}
                  <a href="{% url 'accounts:register_seller' request.user.id %}" class="nav-link btn nav_btn me-1" style="width: 85.46px;">SELLER</a>
                  <!--판매자가 되려는 식별할 수 있는 번호 id가 있어야 되기 때문-->
                {% endif %}
                  <a href="{% url 'accounts:logout' %}" class="nav-link btn nav_btn">LOGOUT</a>
                </div>
              <a class="mx-2" href="{% url 'products:show_jjim' request.user.id %}">
                <i class="bi bi-bag-heart-fill text-dark fs-2"></i>
              </a>
            {% else %}
              <a href="{% url 'accounts:login' %}" class="nav-link btn nav_btn me-1">LOGIN</a>
              <a href="{% url 'accounts:signup' %}" class="nav-link btn nav_btn">SIGNUP</a>
            {% endif %}

            {% if request.user.is_authenticated %}
              {% for profile in request.user.profile_set.all %}
                {% if profile.image %}
                  <a class="" href="{% url 'accounts:profile' %}"><img src="{{ profile.image.url }}" alt="{{ profile.image }}" width="35" height="35" style="border-radius: 50%;"></a>
                {% else %}
                <a class="" href="{% url 'accounts:profile' %}"><i class="bi bi-person-circle text-dark fs-2"></i></a>
                {% endif %}
              {% endfor%}
            {% endif %}

          </div>
        </div>
      </div>
    </nav>
    <div class="container">
      {% block content %}{% endblock content %}
    </div>
    <div>
      {% block content_2 %}{% endblock content_2 %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>

  </body>

</html>