{% extends 'base.html' %}
{% block content %}


<div class="text-center mt-5">
    <img src="{{ product.image.url }}" alt="123" style="width: 100%; height: 600px; border-radius: 50px">
</div>

<div class="mx-4">
    <div class="d-flex justify-content-between">
        <div>
            <p class="fs-6 fw-bold mt-3 mb-0">{{ product.user }} > </p>
            <p class="fs-4 fw-bold mb-0">{{ product.name }}</p>
            <p class="fs-4 fw-bold mb-0">{{ product.price }}</p>
        </div>
        <div class="">
            <a href="{% url 'products:update' product.pk %}" class="btn detail_btn2 mx-2 my-3">상품수정</a>
            <a href="{% url 'products:delete' product.pk %}" class="btn detail_btn2 my-3">상품삭제</a>
        </div>
    </div>
    <p class="text-center mt-5">{{ product.content }}</p>
</div>

<div class="text-center d-flex">
    <div class="me-2" style="width: 10%;">
        {% if request.user in product.like_users.all %}
            <i id="like-btn" data-product-id="{{ product.pk }}" class="bi-hand-thumbs-up-fill fs-3 fw-bolder"></i><!--따봉 채워져 있는 것 -->
        {% else %}
            <i id="like-btn" data-product-id="{{ product.pk }}" class="bi-hand-thumbs-up fs-3 fw-bolder"></i><!--따봉 비어져있는 것이 보여짐-->
        {% endif %}
    </div>
    <a href="{% url 'products:add_jjim' product.pk %}" class="btn detail_btn me-1" style="width: 45%;">찜 담기</a>
    <a href="{% url 'reviews:index' product.pk %}" class="btn detail_btn ms-1" style="width: 45%;">리뷰 ({{ product.review.count }})</a>
</div>





<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    const likeBtn = document.querySelector('#like-btn')
    likeBtn.addEventListener('click', function (event){
        console.log(event.target.dataset)
        axios({
            method: 'get',
            url: `/products/${event.target.dataset.productId}/like/` //서버에 요청 보냈고, 
        })
        .then(response => {
            console.log(response)
            console.log(response.data)
            if (response.data.isLiked === true) {
            event.target.classList.add('bi-hand-thumbs-up-fill')
            event.target.classList.remove('bi-hand-thumbs-up')
            } else {
            event.target.classList.add('bi-hand-thumbs-up')
            event.target.classList.remove('bi-hand-thumbs-up-fill')
            }
        }) // 돌아오면 어떤걸 하고 싶은가?
    })
</script>
{% endblock %}

