{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}

{% if request.resolver_match.url_name == 'create' %}<!--resolver_match = 어떤 url을 통해서 왔는지 검사하는 인스턴스, 따라서 create url로 왔는지 여부를 검사 -->
<h1 class="h1">상품 등록</h1>
{% else %}
<h1 class="h1">상품 수정</h1>
{% endif %}
<div class="d-flex justify-content-center align-items-center m-auto mt-5">
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form product_form %}
        {% bootstrap_button content="ok" button_type="submit" button_class="btn-danger" %}
    </form>
</div>

{% endblock %}